
<!DOCTYPE html>
<html lang="en"><!-- HTML5文档类型 -->
  <head>
    <meta charset="utf-8">
    <title>{% block title%}{% endblock %}_后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- 启用响应式特性 -->
    <meta name="description" content="">
    <meta name="author" content="">
	<link href='/site_media/bootstrap/css/bootstrap.css/' rel="stylesheet">
	<link href='/site_media/bootstrap/css/bootstrap-responsive.css/' rel="stylesheet">
    <link href="/site_media/css/common.css/" rel="stylesheet">
    {% block extracss %}{% endblock %}
	{% block css %}{% endblock %}
	<script type="text/javascript" src="/site_media/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/site_media/js/common.js"></script>
	<script type="text/javascript" src="/site_media/js/json2.js"></script>
	<script type="text/javascript" src="/site_media/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="/site_media/plugins/artDialog4.1.6/jquery.artDialog.source.js?skin=black"></script>
	<script type="text/javascript">
	
	
	</script>
	{% block plugins %}{%endblock%}

  </head>

<body>
	<!--头部开始-->
	{% block header %}
		{% include 'common/header.html' %}
	{% endblock %}
	<!--头部结束-->

	<!-- Container -->
<div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
            <!-- 左侧栏 -->
            {% block rightsidebar %}{% include 'common/sidebar2.html'%}{% endblock %}
            <!-- 侧栏结束 -->
	    </div>

		<div class="span10 article">
			<!-- 正文 -->
                {% block content %}{% endblock %}
        </div>
	</div>
</div>
   {% block footer %} {% include 'common/_footer.html' %} {% endblock %}
	
	{% block extrajs %}{% endblock %}
	{% block js %}{% endblock %}

</body>
</html>