{% extends "base.html" %}
{% load markup %}
{% load nav %}
{% block css %}
<style>
<!--
.diary{margin: 5px 0;padding: 10px; border-bottom: 1px dashed #eee;}
-->
</style>
{% endblock%}
<!-- 正文 -->
{% block content %}
<div class="row-fluid">

<div class="alert" style="padding: 20px">
  <h4 style="margin-bottom: 10px;"><a href="/translate/cate_index/{{ translate.category.id }}/">专题：{{ translate.category.title }}</a></h4>
  <p class="small">{{ translate.category.summary }}</p>
  {% if user.is_superuser %}
  <p>{% if translate.category.parent_id == '0' %}<a class="btn btn-primary" onclick="creatSort()">创建子分类</a>&nbsp;&nbsp;&nbsp;
      <span class="small"><a href="/translate/">返回主页，创建主分类?</a></span>{% endif %}
      <a class="btn  btn-info" href="/translate/add_translate/0/?cate={{ translate.category.id }}">开始翻译吧!</a></p>
  <p class="small" style="text-align: right"><a href="/translate/edit_category/{{ translate.category.id }}/">编辑</a>&nbsp;&nbsp;<a href="javascript:;" onclick="del({{ translate.category.id }})">删除</a></p>
  {% endif %}
</div>


    <div class="diary">
        <h3><a href="#">{{ translate.title }}</a></h3>
        <p class="small">
            译者:{{ translate.user.nickname }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            原文作者:{{ translate.authorship }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            翻译进度：{{ translate.progress }}%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            发表于：{{ translate.add_time|date:'Y-m-d H:i:s' }}
            <span style="float: right"><a href="/translate/add_translate/{{ translate.id }}/">编辑</a></span>
        </p>
        <p class="small">原文地址:<a href="{{ translate.original_url }}">{{ translate.original_url }}</a>&nbsp;&nbsp;&nbsp;</p>
    </div>
<div>{{ translate.content|markdown|safe }}</div>

<hr />
<div class="alert alert-error"><b>版权声明</b>：本译文仅用于学习和交流目的。非商业转载请注明译者、出处，并保留文章在译言的完整链接。</div>
<div id="com_info"><!--公共信息-->
</div>

</div><!--/-->
{% endblock %}

{% block js %}
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
    <script src="/site_media/js/common.js"></script>
<script type="text/javascript">
// 初始化
$(function($){
    jsonData = {'id':{{translate.id}}, 'app_label':'translate','model':'translate','type':-1};
    sharp_and_opera(jsonData,'com_info');   // 调用显示的公共方法
})

// 删除
function del(id){
    var url = '/translate/del_category/';
    data = {'id':id};
    if(confirm('是否删除该分类及该分类下所有子分类及所有文章?')){
        comPost(url,data,'删除');
        //location.href='.';
    }

}
// 创建分类
function creatSort(){
    art.dialog({
        title:'{{ translate.category.title }}下创建子分类',
        content:document.getElementById('add_sort'),
        ok:function(){
            var url = '/translate/add_category/';
            var title = del_blank($('#title').val());
            var summary = del_blank($('#summary').val());
            var sequence = $('#sequence').val();
            if(title == ''){
                alert('分类名称不能为空')
            }else{
                $.post(url,{'title':title,'sequence':sequence,'summary':summary,'id': {{ translate.category.id }} },function(data){
                    if(data == '2'){
                        alert('该分类已经存在！')
                    }else if(data == '1'){
                        alert('创建成功！')
                        location.href='.';
                    }else{
                        alert('创建失败');
                    }
                })
            }
        },
        okVal:'创建',
        cancelVal:'取消',
        cancel:true
    })
}
</script>
{% endblock %}
